@import "../../styles/constants.module.scss";

.container {
  display: flex;
  flex-direction: column;
  border: 1px solid $cardBorder;
  width: 350px;
  margin: 20px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 8px;
  z-index: inherit;
}

.container:hover .image {
  transform: scale(1.1);
}

.container:hover .infoContainer {
  background-color: $cardBackgroundHover;
}

.imageContainer {
  display: flex;
  overflow: hidden;
}

.image {
  display: flex;
  height: 200px;
  width: 350px;
  object-fit: cover;
  transition: transform 0.2s;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: $cardBackground;
  transition: background-color 0.2s;
}

.title {
  display: flex;
  font-size: 23px;
}

.tags {
  display: flex;
  margin-top: 10px;
}

.tag {
  display: flex;
  padding-block: 5px;
  padding-inline: 10px;
  margin-right: 5px;
  border-radius: 7px;
  color: white;
  background: $primaryColor;
}
