@import "../../styles/constants.module.scss";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  z-index: inherit;
}

.balance {
  display: flex;
  flex: 0.05;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-block: 20px;
  background-color: $bodyBackgroundHover;
}

.card {
  display: flex;
  flex: 0.9;
  justify-content: center;
  align-items: flex-start;
  margin-top: 40px;

  @media screen and (max-width: $lg) {
    margin-top: 0px;
  }
}
