@import "../../styles/constants.module.scss";

.nav {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  height: $navbarHeight;
  width: 100%;
  background-color: $navbarBackground;
  backdrop-filter: blur(50px);
  border-bottom: 1px solid $primaryBorder;
  z-index: inherit;

  @media screen and (max-width: $lg) {
    justify-content: space-between;
  }
}

.leftContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 0.15;
  height: 100%;
  width: 100%;
  margin-left: 70px;

  @media screen and (max-width: $lg) {
    justify-content: center;
    flex: 1;
    margin-left: 0px;
  }
}

.middleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0.6;
  gap: 70px;

  @media screen and (max-width: $lg) {
    display: none;
  }
}

.rightContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 0.15;
  height: 100%;
  width: 100%;
  margin-right: 70px;

  @media screen and (max-width: $lg) {
    display: flex;
    position: absolute;
    justify-content: flex-end;
    flex: 1;
    right: 0px;
    padding-right: 20px;
    margin-right: 0px;
    width: 150px;
  }
}

.homeLink {
  display: flex;
}

.link {
  display: flex;
  text-decoration: none;
  transition: 0.1s color;
}

.toggle {
  display: none;
  font-size: 20px;
  margin-left: 15px;

  @media screen and (max-width: $lg) {
    display: block;
  }
}

.mobileLinks {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
  width: 100%;
  left: 0;
  top: $navbarHeight;
  height: calc(100vh - $navbarHeight);
  width: calc(100vw - 18px);
  padding: 20px;
  background: $collapsedBackground;
  background-image: $backgroundImage;
  background-size: $backgroundSize;

  @media screen and (max-width: $lg) {
    background-size: $backgroundSizeMobile;
  }

  @media screen and (max-width: $lg) {
    width: calc(100vw);
    gap: 10px;
  }
}

.mobileLink {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 200px;
  border-radius: 5px;
  background: $collapsedLinkBackground;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  transition: 0.2s filter;
}

.mobileLink:hover {
  filter: brightness(1.3);
}

.fadeIn {
  display: flex;
  opacity: 1;
  transition: 0.5s all;
}

.fadeOut {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 0.5s all;
  pointer-events: none;
}
