@import "../../styles/constant.scss";

.nav {
  display: flex;
  position: fixed;
  justify-content: space-around;
  align-items: center;
  height: $navbarHeight;
  width: 100%;
  padding-inline: 20px;
  padding-block: 20px;
  background-color: $navbarColor;
  backdrop-filter: blur(50px);
  border-bottom: 1px solid $navbarBorderColor;
  z-index: 1000;
}

.leftContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0.1;
}

.middleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0.7;
  gap: 70px;
}

.rightContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0.1;
}

.link {
  display: flex;
  text-decoration: none;
}

.buttonLink {
  display: flex;
  text-decoration: none;
}
