@import "../../styles/constants.module.scss";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - $navbarHeight);
  width: 100%;
}

.claimButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
