@import "../../../styles/constants.module.scss";

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  min-height: 100%;
  width: 100%;
  padding: 20px 30px 20px 30px;

  @media screen and (max-width: $lg) {
    gap: 35px;
    padding: 20px;
  }
}

.block {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 70%;
  border: 1px solid $primaryBorder;
  background-color: $bodyBackgroundHover;
  box-shadow: rgba(0, 0, 0, 0.8) 0px 22px 70px 4px;

  @media screen and (max-width: $lg) {
    height: 200px;
    width: 100%;
  }
}

.blockTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  border-bottom: 1px solid $primaryBorder;
  font-size: 20px;
}

.blockContent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: $bodyBackgroundHover;
}

.biggerBlock {
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 70%;
  border: 1px solid $primaryBorder;
  background-color: $bodyBackgroundHover;
  box-shadow: rgba(0, 0, 0, 0.8) 0px 22px 70px 4px;

  @media screen and (max-width: $lg) {
    height: 500px;
    width: 100%;
  }
}

.topInfos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  height: 200px;
  width: 70%;

  @media screen and (max-width: $lg) {
    width: 100%;
  }
}

.topInfoItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border: 1px solid $primaryBorder;
  background-color: $bodyBackgroundHover;
  font-size: 22px;
  font-weight: 500;

  @media screen and (max-width: $md) {
    flex-direction: column;
    justify-content: center;
    gap: 3px;
    padding-left: 0px;
    font-size: 16px;
  }
}

.topInfoText {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 8px;
  font-size: 22px;
  font-weight: 700;

  @media screen and (max-width: $md) {
    padding-left: 6px;
    font-size: 16px;
  }
}

.workoutLines {
  display: flex;
  flex-direction: column;
  min-height: 300px;
  width: 70%;
  border: 1px solid $primaryBorder;
  background-color: $bodyBackgroundHover;
  box-shadow: rgba(0, 0, 0, 0.8) 0px 22px 70px 4px;

  @media screen and (max-width: $lg) {
    height: 350px;
    width: 100%;
  }
}

.workoutLine {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 37px;
  width: 100%;
  padding-inline: 20px;

  &:hover {
    background-color: $primaryBorder;
  }

  @media screen and (max-width: $md) {
    padding-inline: 10px;
  }
}

.workoutLineDate {
  display: flex;
  flex: 0.35;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;
}

.workoutLineMuscle {
  display: flex;
  flex: 0.5;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  min-width: 100px;
  width: 100%;
}

.workoutLineHomeOrGym {
  display: flex;
  flex: 0.15;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;
}
