@import "../../styles/constants.module.scss";

.container {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: calc(100vh - $footerHeight);
  width: 100%;
  padding-block: 40px;
  padding-inline: 40px;
  z-index: inherit;

  @media screen and (max-width: $md) {
    flex-direction: column;
    padding-block: 20px;
    padding-inline: 0px;
  }
}

.leftContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
  height: 100%;
  width: 70%;

  @media screen and (max-width: $md) {
    gap: 10px;
    height: 400%;
    width: 95%;
  }
}

.rightContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 300px;
  width: 20%;
  padding-inline: 20px;
  border: 1px solid $chartBorder;
  border-radius: 5px;
  background-color: $chartBackground;

  @media screen and (max-width: $md) {
    width: 95%;
  }
}

// Left
.infoContainer {
  display: flex;
  flex: 0.1;
  align-items: center;
  padding-inline: 20px;
  border: 1px solid $chartBorder;
  border-radius: 5px;
  background-color: $chartBackground;
}

.chart {
  flex: 0.6;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  border: 1px solid $chartBorder;
  border-radius: 5px;
  background-color: $chartBackground;

  @media screen and (max-width: $md) {
    flex: 0.7;
  }
}

.timeframeButtons {
  display: flex;
  position: absolute;
  margin-left: 20px;
  margin-top: 15px;
  gap: 10px;
}

.timeframeButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 40px;
  border-radius: 5px;
  background-color: $disabledColor;
  transition: 0.1s background-color ease-in-out;
  z-index: 6;
}

.timeframeButton:hover {
  background-color: $disabledColorHover;
}

.timeframeButtonActive {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 40px;
  border-radius: 5px;
  background-color: $primaryColorActive;
  z-index: 6;
}

.positions {
  display: flex;
  flex: 0.2;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  border: 1px solid $chartBorder;
  border-radius: 5px;
  background-color: $chartBackground;
}

// Right
.tabs {
  display: flex;
  justify-content: center;
  height: 60px;
  margin-block: 10px;
}

.shortSwitchTab {
  display: flex;
  flex: 0.5;
  justify-content: center;
  align-items: center;
  margin-block: 10px;
  border: 1px solid $navbarBorder;
  border-radius: 7px 0% 0% 7px;
  background-color: $chartButtonBackground;
}

.shortSwitchTabActive {
  display: flex;
  flex: 0.5;
  justify-content: center;
  align-items: center;
  margin-block: 10px;
  border: 1px solid $navbarBorder;
  border-radius: 7px 0% 0% 7px;
  background-color: $chartButtonBackgroundActive;
}

.longSwitchTab {
  display: flex;
  flex: 0.5;
  justify-content: center;
  align-items: center;
  margin-block: 10px;
  border: 1px solid $navbarBorder;
  border-radius: 0% 7px 7px 0%;
  background-color: $chartButtonBackground;
}

.longSwitchTabActive {
  display: flex;
  flex: 0.5;
  justify-content: center;
  align-items: center;
  margin-block: 10px;
  border: 1px solid $navbarBorder;
  border-radius: 0% 7px 7px 0%;
  background-color: $chartButtonBackgroundActive;
}

.valueInput {
  display: flex;
  flex: 0.6;
}
