@import "../../styles/constant.scss";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: calc(100vh - $navbarHeight);
}

.topContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0.15;
  width: 100%;
  background-color: bisque;
}

.centerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0.7;
  width: 100%;
}

.centerLeftContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0.8;
  height: 100%;
  width: 100%;

  @media screen and (max-width: $xxl) {
    flex: 1;
  }
}

.centerRightContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0.2;
  height: 100%;
  min-width: 300px;
  background-color: red;

  @media screen and (max-width: $xxl) {
    display: none;
  }
}

.bottomContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0.15;
  width: 100%;
  background-color: beige;
}

.chart {
}
