@import "../../styles/constants.module.scss";

.container {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  z-index: inherit;
}

.content {
  display: flex;
  min-height: 100%;
  width: 100%;
  z-index: inherit;
}
