@import "../../styles/constant.scss";

.highlighted {
  display: flex;
  justify-content: center;
  padding-block: 20px;
  margin-block: 20px;
  overflow-x: auto;

  @media screen and (max-width: $xxl) {
    display: none;
  }
}

.container {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}

.subcontainer {
  display: flex;
  flex-direction: row;
  min-height: 300px;
  padding-inline: 200px;

  @media screen and (max-width: $xl) {
    padding-inline: 50px;
  }

  @media screen and (max-width: $md) {
    flex-direction: column;
    padding-inline: 20px;
  }
}

.postContainer {
  display: flex;
  flex: 0.7;
  flex-direction: column;
}

.postTitle {
  display: flex;
  margin-bottom: 40px;
  font-size: 30px;
}

.posts {
  display: flex;
  flex: 0.7;
  flex-direction: column;
  margin-right: 50px;

  @media screen and (max-width: $md) {
    margin-right: 0px;
  }
}

.filters {
  display: flex;
  flex-direction: column;
  flex: 0.3;
  padding-left: 20px;
  border-left: 1px solid $neutralColor;

  @media screen and (max-width: $md) {
    border-left: none;
    padding-left: 0px;
    margin-top: 40px;
  }
}

.filterSubContainer {
  display: flex;
  flex-direction: column;
  flex: 0.1;
  padding-inline: 10px;

  @media screen and (max-width: $lg) {
    padding-inline: 0px;
  }
}

.filterTitle {
  padding-bottom: 10px;
  font-size: 24px;
}

.searchInput {
  border-radius: 4px;
  margin-bottom: 20px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
