@import "../../styles/constant.scss";

.highlighted {
  display: flex;
  margin-block: 40px;
  overflow-x: auto;
}

.container {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  border-top: 1px solid $neutralColorHalf;
}

.subcontainer {
  display: flex;
  flex-direction: row;
  min-height: 300px;
  padding-inline: 250px;

  @media screen and (max-width: $xl) {
    padding-inline: 50px;
  }

  @media screen and (max-width: $md) {
    flex-direction: column-reverse;
  }
}

.postContainer {
  display: flex;
  flex: 0.7;
  flex-direction: column;
}

.postTitle {
  display: flex;
  margin-bottom: 40px;
  font-size: 30px;
}

.posts {
  display: flex;
  flex: 0.7;
  flex-direction: column;
  margin-right: 50px;
}

.filters {
  display: flex;
  flex-direction: column;
  flex: 0.3;

  @media screen and (max-width: $lg) {
    margin-bottom: 40px;
  }
}

.filterSubContainer {
  display: flex;
  flex-direction: column;
  flex: 0.1;
  padding-inline: 10px;

  @media screen and (max-width: $lg) {
    padding-inline: 0px;
  }
}

.filterTitle {
  padding-block: 10px;
  font-size: 24px;
}

.searchInput {
  border-radius: 4px;
  margin-bottom: 20px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.tag {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 5px;
  padding-inline: 10px;
  margin-block: 10px;
  margin-inline: 5px;
  border-radius: 7px;
  background: $primaryColor;
}
