@import "../../../styles/constants.module.scss";

.container {
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: inherit;
}

.content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding: 20px;
  z-index: inherit;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;

  @media screen and (max-width: $md) {
    grid-template-columns: repeat(1, 4fr);
  }
}

.gridItem {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 200px;
  text-align: center;
  background-color: $primaryBackground;
  box-shadow:
    rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
    rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

  @media screen and (max-width: $md) {
    height: 150px;
    width: 150px;
  }
}
