@import "../../../styles/constants.module.scss";

.content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  width: 100%;
  padding: 20px;
  z-index: inherit;
}

.topInfos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  height: 100px;
  width: 85%;

  @media screen and (max-width: $lg) {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

.topInfoItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding-block: 10px;
  border: 1px solid $primaryBorder;
  background-color: $bodyBackgroundHover;
  font-size: 21px;
  font-weight: 500;

  @media screen and (max-width: $md) {
    flex-direction: column;
    justify-content: center;
    gap: 3px;
    font-size: 16px;
  }
}

.topInfoText {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  padding-left: 8px;
  font-size: 22px;
  font-weight: 700;

  @media screen and (max-width: $md) {
    height: 20px;
    padding-left: 6px;
    font-size: 16px;
  }
}
