// Variables
$navbarHeight: 60px;
$footerHeight: 110px;

// Screen size
$sm: 500px;
$md: 740px;
$lg: 960px;
$xl: 1280px;
$xxl: 1600px;

// Background
$backgroundImage: url("../../public/images/background.png");
$backgroundColor: linear-gradient(
  to bottom right,
  rgb(15, 15, 30),
  rgb(10, 10, 20)
);
$backgroundSize: 1920px 1080px;
$backgroundSizeMobile: 1280px 720px;

// Colors
$primaryColor: rgb(100, 100, 200);
$neutralColor: rgb(150, 150, 150);
$disabledColor: rgb(128, 128, 128);

// Colors on hover
$primaryColorHover: rgb(70, 70, 140);
$neutralColorHover: rgb(130, 130, 130);
$disabledColorHover: rgb(100, 100, 100);

// Colors active
$primaryColorActive: rgb(80, 80, 160);

// Navbar
$navbarBackground: rgba(15, 15, 30, 0.9);
$navbarBorder: rgba(30, 30, 60, 0.6);
$collapsedBackground: rgb(10, 10, 20);
$collapsedLinkBackground: url("../../public/images/background-link.png");

/***** Blog *****/

// Input
$inputBackground: rgb(15, 15, 30);

// Post
$postBackground: rgba(60, 60, 140, 0.2);
$postBorder: rgba(150, 150, 150, 0.5);

// Card
$cardBackground: rgba(15, 15, 30, 0.8);
$cardBorder: rgba(80, 80, 160, 1);
$cardBackgroundHover: rgba(20, 20, 40, 0.9);

/***** Chart *****/

$chartBackground: rgb(20, 20, 40);
$chartBorder: rgb(80, 80, 160, 0.4);

// Long/Short switch
$chartSwitchBackground: rgba(30, 30, 50, 0.9);
$chartSwitchBackgroundActive: rgba(70, 70, 140, 1);

// Long/Short buttons
$chartShortButton: rgb(120, 30, 30);
$chartShortButtonHover: rgb(150, 30, 30);
$chartLongButton: rgb(30, 120, 30);
$chartLongButtonHover: rgb(30, 150, 30);

// Input
$chartInputBackground: rgb(50, 50, 100, 0.4);

/* Export */
:export {
  sm: $sm;
  md: $md;
  lg: $lg;
  xl: $xl;
  xxl: $xxl;
}
