// Variables
$navbarHeight: 60px;
$footerHeight: 140px;

// Screen size
$sm: 500px;
$md: 740px;
$lg: 960px;
$xl: 1280px;
$xxl: 1600px;

// Body color & background image
$backgroundImage: url("../../public/images/background.png");
$backgroundColor: linear-gradient(to right, rgb(15, 15, 30), rgb(10, 10, 20));
$backgroundSize: 1920px 1080px;
$backgroundSizeMobile: 1280px 720px;

// Colors
$primaryColor: rgb(80, 80, 160);
$secondaryColor: rgb(150, 150, 150);
$disabledColor: rgb(125, 125, 125);

// Colors hover
$primaryColorHover: rgb(70, 70, 140);
$neutralColorHover: rgb(130, 130, 130);
$disabledColorHover: rgb(100, 100, 100);

// Colors active
$primaryColorActive: rgb(80, 80, 160);

// Border
$primaryBorder: rgba(60, 60, 120, 0.9);
$secondaryBorder: rgba(120, 120, 120, 0.9);
$disabledBorder: rgba(110, 110, 110, 0.5);

// Background
$primaryBackground: rgb(25, 25, 50);
$primaryTransparentBackground: rgba(60, 60, 140, 0.2);
$bodyBackground: rgb(15, 15, 30);
$bodyBackgroundHover: rgb(25, 25, 50);
$inputBackground: rgb(50, 50, 100, 0.4);

// Navbar
$navbarBackground: rgba(20, 20, 40, 0.9);
$collapsedBackground: rgb(10, 10, 20);
$collapsedLinkBackground: url("../../public/images/background-link.png");

// Sidebar
$sidebarBackground: rgb(30, 30, 60);
$sidebarBackgroundHover: rgb(40, 40, 80);
$sidebarLinkBackground: rgba(45, 45, 90, 0.5);

/***** Chart *****/

// Switch buttons
$chartSwitchBackground: rgb(25, 25, 50);
$chartSwitchBackgroundActive: rgb(70, 70, 140);

// Long/Short
$chartShortButton: rgb(120, 30, 30);
$chartShortButtonHover: rgb(150, 30, 30);
$chartLongButton: rgb(30, 120, 30);
$chartLongButtonHover: rgb(30, 150, 30);
$chartShortText: rgb(255, 0, 0);
$chartLongText: rgb(0, 255, 0);

/***** Chart *****/
$chatLineBackground: rgba(90, 90, 170, 0.2);

/* Export */
:export {
  sm: $sm;
  md: $md;
  lg: $lg;
  xl: $xl;
  xxl: $xxl;
}
