@import "../styles/constants.module.scss";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.firstScreen {
  display: flex;
  height: 100vh;
  width: 100%;
  background-color: rgba(200, 150, 150, 0.2);
}

.secondScreen {
  display: flex;
  height: 100vh;
  width: 100%;
  background-color: rgba(60, 100, 225, 0.2);
}

.canvas {
  position: absolute;
  height: 100vh;
  width: 100%;
  z-index: 100;
  pointer-events: none;
}
