@import "../styles/constants.module.scss";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: inherit;
}

.heroContent {
  display: flex;
  flex-direction: row;
  height: calc(100vh - $footerHeight);
  width: 100%;
  padding-top: $navbarHeight;

  @media screen and (max-width: $lg) {
    flex-direction: column;
    padding-top: calc($navbarHeight + 30px);
  }
}

.heroLeftContent {
  display: flex;
  flex: 0.6;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 25px;
}

.heroLeftTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding-left: 150px;
  padding-right: 40px;
  font-size: 52px;
  font-weight: 600;

  @media screen and (max-width: $xl) {
    padding-left: 10%;
    padding-right: 10%;
    font-size: 42px;
  }

  @media screen and (max-width: $md) {
    font-size: 32px;
  }
}

.heroLeftDescription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding-left: 150px;
  padding-right: 40px;
  font-size: 22px;
  font-weight: 200;

  @media screen and (max-width: $xl) {
    padding-left: 10%;
    padding-right: 10%;
  }

  @media screen and (max-width: $md) {
    font-size: 18px;
  }
}

.heroLeftCta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding-left: 150px;

  @media screen and (max-width: $xl) {
    padding-left: 10%;
    padding-right: 10%;
  }
}

.heroLeftCtaButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-block: 10px;
  padding-inline: 20px;
  border-radius: 10px;
  background-color: $primaryColor;
}

.heroRightContent {
  display: flex;
  flex: 0.4;
  justify-content: flex-start;
  align-items: center;
}

.canvas {
  display: flex;
  height: 70%;
  width: 550px;

  @media screen and (max-width: $lg) {
    height: 100%;
    width: 100%;
  }
}

.secondScreen {
  display: flex;
  height: 100vh;
  width: 100%;
  background-color: rgba(60, 100, 255, 0.1);
}
