@import "../../../styles/constants.module.scss";

.container {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  z-index: inherit;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 30px;
}

.title {
  display: flex;
  width: 100%;
  padding: 10px 0px 30px 40px;
  margin: 20px 0px 40px 0px;
  font-size: 30px;
  border-bottom: 1px solid $primaryBorder;

  @media screen and (max-width: $lg) {
    padding: 20px 0px 20px 20px;
    margin: 0px 0px 20px 0px;
    font-size: 23px;
  }
}

.weightCharts {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: flex-start;
  align-items: flex-start;
}
