@import "../../../styles/constants.module.scss";

.container {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  z-index: inherit;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  min-height: 100%;
  padding: 20px 30px 0px 30px;

  @media screen and (max-width: $lg) {
    gap: 20px;
    padding: 20px;
  }
}

.block {
  display: flex;
  flex-direction: column;
  flex: 0.4;
  height: 300px;
  width: 70%;
  border: 1px solid $primaryBorder;
  background-color: $bodyBackgroundHover;
  box-shadow: rgba(0, 0, 0, 0.8) 0px 22px 70px 4px;

  @media screen and (max-width: $lg) {
    width: 100%;
  }
}

.blockTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid $primaryBorder;
  font-size: 20px;
}

.blockContent {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: $bodyBackgroundHover;
}
